<div class="col-md-3 top_brand_left">
	<div class="hover14 column">
		<div class="agile_top_brand_left_grid">
			<div class="agile_top_brand_left_grid1">
				<figure>
					<div class="snipcart-item block" >
						<div class="snipcart-thumb">
							<a href="<%= business_path(business.id) %>"><img title=" " alt=" " src="../assets/1.png" /></a>		
							<p><%= business.name %></p>
							<h4><%= number_to_currency(business.price, precision: 2, unit: 'Rs. ') %></h4>
						</div>
					</div>
				</figure>
			</div>
		</div>
	</div>
</div>