<%= render 'layouts/header' %>

<!-- services -->
<div class="events">
	<h3>Services for Buyers</h3>
	<div class="w3agile_event_grids">
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-bullhorn" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>cum soluta nobis eligendi</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-bullseye" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>rerum hic tenetur a sapiente</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="w3agile_event_grids">
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-credit-card" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>earum rerum tenetur sapiente</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-eye" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>quibu aut officiis debitis</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="w3agile_event_grids">
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-cog" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>necessitatibus saepe eveniet</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 w3agile_event_grid">
			<div class="col-md-3 w3agile_event_grid_left">
				<i class="fa fa-trophy" aria-hidden="true"></i>
			</div>
			<div class="col-md-9 w3agile_event_grid_right">
				<h4>repudiandae sint et molestiae</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //services -->

<%= render 'layouts/footer'%>
